<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>

    <link rel="stylesheet" href="/styleAdd.css">
</head>
<body>
<form action="/add" method="post">
    <h1 class="main">What do you want to add?</h1>
    <input class="name" type="text" name="name" placeholder="Name"><br>
    <textarea type="text" name="description" placeholder="Description" class="form-control" multiple></textarea><br>
    <div class="com">
        <h1 class="iscomp">completed?</h1>
        <input type="checkbox" name="done" class="form-control-box"><br>
    </div>
    <button class="sub" type="submit">Add Task</button>
</form>
</body>
</html>